html {
    margin: 0;
    overflow-x: hidden;
}

body {
    max-width: 100%;
    min-height: 100%;
    margin: 0;
    overflow-x: hidden;
    background: rgb(255,147,155);
    background: linear-gradient(153deg, rgba(255,147,155,1) 0%,  rgba(239,42,57,1) 67%);
    background-repeat: no-repeat;
}

header {

    height: 250px;
    
    .head {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;


        img {
            width: 20%;
            margin-top: 5%;
            margin-left: 5%;
            fill: white;
        }

        button {
            margin-right: 5%;
            margin-top: 7%;
        }
    }

    h1 {
        text-align: center;
        margin-top: 15%;

        font : {
            family: poppins;
            weight: medium;
            size: 25px;
            style: italic;
        }
    }
}

//-------------------------------------------------------------------------------------------------------------- main div carte

body{
    main{
        display: flex;
        flex-direction: column;
        margin-left: 5%;
        margin-right: 5%;
        div{
            width: 100%;
            &.carte{
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 7%;
            background-color: white;
            margin-bottom: 20px;
            box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
            
            h2{
                border-top:1px solid #EF2A39;
                font-family: poppins,sans-serif;
            }
            p{
                &.description{
                    text-align:center;
                    max-width: 90% ;
                }
                &.price{
                    font-family: poppins,sans-serif;
                }

                &.note{
                    position:absolute;
                    bottom: 10px;
                    left: 10px;

                }
            }
            
            button{
                &.add{
                    margin-bottom:10px ;
                }
                &.categorie{
                    position: absolute;
                    bottom: 10px;
                    right: 5px;
                    margin-bottom: 10px;
                    border-radius: 15px;
                    background-color: #EF2A39;
                    border:none;
                    outline: none;
                }
            }
            }
        }

        .filter {
            display: flex;
            flex-direction:row;
            justify-content: space-evenly;
            margin-bottom: 5%;
            
            input {
                //display: none;

                :checked + label::before {
                    background-color: white;
                }
            }

            img {
                width: 40%;
                cursor: pointer;
                
            }
        }
    }
}

//-------------------------------------------------------------------------------------------------------------- footer
footer { 
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 100%;
    margin-top: 10%;


    .contact {
        .title {
            font : {
                family: lobster;
                weight: 600;
                size: 25px;
            }
        }

        p {

            line-height: 10px;
            font : {
                family: poppins;
                weight: 300;
                size: 20px;
            }
        }
    }

    img {
        width: 10%;
    }

    .copyright {
        p {

            line-height: 10px;
            font : {
                family: poppins;
                weight: 300;
                size: 15px;
            }
        }   
    }
}


