html {
    margin: 0;
    overflow-x: hidden;
}

body {
    max-width: 100%;
    min-height: 100%;
    margin: 0;
    overflow-x: hidden;
    background: rgb(255,147,155);
    background: linear-gradient(153deg, rgba(255,147,155,1) 0%, rgba(239,42,57,1) 67%);
    background-repeat: no-repeat;
    white-space: nowrap;
}

header {

    height: 250px;
    
    .head {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;


        img {
            width: 20%;
            margin-top: 5%;
            margin-left: 5%;
            fill: white;
        }

        button {
            margin-right: 5%;
            margin-top: 7%;
        }
    }

    h1 {
        text-align: center;
        margin-top: 15%;

        font : {
            family: poppins;
            weight: medium;
            size: 25px;
            style: italic;
        }
    }
}

footer { 
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 100%;
    margin-top: 10%;


    .contact {
        .title {
            font : {
                family: lobster;
                weight: 600;
                size: 25px;
            }
        }

        p {

            line-height: 10px;
            font : {
                family: poppins;
                weight: 300;
                size: 20px;
            }
        }
    }

    img {
        width: 10%;
    }

    .copyright {
        p {

            line-height: 10px;
            font : {
                family: poppins;
                weight: 300;
                size: 15px;
            }
        }   
    }
}