html {
  margin: 0;
  overflow-x: hidden;
}

body {
  max-width: 100%;
  min-height: 100%;
  margin: 0;
  overflow-x: hidden;
  background: rgb(255, 147, 155);
  background-repeat: no-repeat;
}

.darkmode {
  background: rgb(33, 32, 17);
  color: white;
}
.darkmode svg {
  fill: white;
}
.darkmode img {
  border-radius: 20px;
}
.darkmode .carte {
  background-color: rgb(48, 47, 43);
  box-shadow: rgba(135, 20, 0, 0.3) 0px 19px 38px, rgba(51, 51, 51, 0.22) 0px 15px 12px;
}
.darkmode .carte:hover {
  background-color: rgb(48, 47, 43);
}
.darkmode footer {
  background-color: rgb(48, 47, 43);
}
.darkmode footer i {
  color: white;
}

header {
  height: 250px;
}
header .head {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
header .head svg {
  width: 20%;
  margin-top: -10%;
  margin-left: 5%;
}
header .head button {
  margin-right: 5%;
  margin-top: 5%;
  width: 50px;
  height: 50px;
  background: none;
  border: none;
}
header .head button.dark-mode-toggle svg {
  width: 40px;
  height: 40px;
}
header h1 {
  text-align: center;
  margin-top: -5%;
  text-transform: uppercase;
  text-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  font-family: poppins;
  font-weight: medium;
  font-size: 25px;
  font-style: italic;
}

body main {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
}
body main div {
  width: 100%;
}
body main div.carte {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 7%;
  background-color: white;
  margin: 10% 0;
  padding: 5% 0;
  margin: 10% 0;
  padding: 5% 0;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
body main div.carte h2 {
  border-top: 1px solid #EF2A39;
  font-family: poppins, sans-serif;
}
body main div.carte p.description {
  text-align: center;
  max-width: 90%;
}
body main div.carte p.price {
  font-family: poppins, sans-serif;
}
body main div.carte p.note {
  position: absolute;
  bottom: 25px;
  bottom: 25px;
  left: 10px;
  margin: 10px 20px;
  margin: 10px 20px;
}
body main div.carte button {
  padding: 3px 10px;
  border-radius: 10px;
  background-color: #EF2A39;
  border: none;
  outline: none;
  padding: 5px 15px;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
body main div.carte button.add {
  margin-bottom: 10px;
  padding: 3px 10px;
  border-radius: 10px;
  background-color: #EF2A39;
  border: none;
  outline: none;
  padding: 5px 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
body main div.carte button:hover {
  background-color: #b5101e;
  color: #FFEFBA;
}
body main div.carte:hover {
  background-color: hsla(355, 63%, 43%, 0.086);
  color: #FFEFBA;
}
body main div.carte .categorie {
  position: absolute;
  bottom: 22px;
  right: 5px;
  margin: 10px 20px;
  padding: 5px 12px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #EF2A39;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
body main .filter {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 7% auto 5%;
}
body main .filter label {
  text-align: center;
}
body main .filter input {
  display: none;
}
body main .filter input:checked + label img {
  filter: invert(400%) sepia(150%) saturate(100%) hue-rotate(340deg) brightness(500%) contrast(200%);
}
body main .filter img {
  width: 50%;
  cursor: pointer;
}

footer {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 100%;
  margin-top: 10%;
}
footer .contact .title {
  font-family: lobster;
  font-weight: 600;
  font-size: 20px;
  font-size: 20px;
}
footer .contact p {
  line-height: 5px;
  font-family: poppins;
  font-weight: 300;
  font-size: 12px;
  font-size: 12px;
}
footer nav {
  height: 50px;
}
footer svg {
  height: 75%;
  fill: black;
}
footer i {
  padding-right: 5px;
}
footer .copyright p {
  line-height: 10px;
  font-family: poppins;
  font-weight: 300;
  font-size: 12px;
  font-size: 12px;
}

#cartIcon {
  display: flex;
  position: absolute;
  margin-top: 8px;
  justify-content: center;
  font-size: 30px;
  color: white;
}

#openCartModal {
  display: flex;
  justify-content: center;
  background-color: #EF2A39;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 100px;
  z-index: 1;
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 35px;
  transform: translate(0px, -40px);
}

#openCartModal:hover {
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0.313);
}

.modal {
  left: calc(50% - 170px);
  display: none;
  position: fixed;
  top: 5%;
  z-index: 1;
  width: 350px;
  height: 380px;
  overflow: hidden;
  margin-top: 100px;
  background-color: #EF2A39;
  border-radius: 50px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.443);
}

/* Modal ContentBox */
.modal-content {
  font-family: poppins;
  display: flex;
  transform: translate(0px, -80px);
  align-items: center;
  padding: 20px;
  color: white;
  border: none;
  width: 300px;
  animation: fadeIn 0.3s ease;
}

.cartTitle {
  position: absolute;
  display: flex;
  width: 120px;
  margin-top: 210px;
  margin-left: 100px;
  font-weight: 300;
  text-shadow: 50%;
}

#totalAmountModal {
  position: absolute;
  color: rgb(255, 255, 255);
  margin-top: 450px;
  transform: translate(30px, 160px);
  font-weight: 300;
}

#checkoutButton {
  position: absolute;
  z-index: 3;
  background-color: rgb(255, 255, 255);
  color: black;
  border-radius: 20px;
  border: none;
  margin-top: 740px;
  margin-left: 185px;
  width: 95px;
  height: 40px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.443);
}

#checkoutButton:hover {
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.close {
  position: absolute;
  z-index: 5;
  color: #ffffff;
  transform: translate(15px, -55px);
  margin-left: 10px;
  margin-top: 300px;
  font-size: 28px;
}

.close:hover,
.close:focus {
  color: rgba(0, 0, 0, 0.413);
  text-decoration: none;
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#cartModal {
  height: 50%;
}
#cartModal #order {
  position: relatif;
}
#cartModal #order ul {
  height: 200%;
  position: fixed;
  list-style-type: none;
  padding-left: 5px;
  overflow-y: scroll;
}
#cartModal #order .o {
  margin-top: 45%;
}

/* Additional styles for fade-in animation class */
.modal-fade-in .modal-content {
  animation: fadeIn 0.3s ease;
}

#cart {
  display: flex;
  font-size: 13px;
  margin-top: 390px;
  margin-left: -10px;
  max-width: 400px;
  position: fixed;
  cursor: pointer;
  z-index: 1;
  color: rgb(255, 255, 255);
  border-radius: 30px;
}

.o {
  display: flex;
  flex-direction: row;
  margin-top: 120px;
}

.cartItems {
  width: 200px;
}

#rightSide {
  margin-left: 210px;
  transform: translate(0px, -30px);
}

@media screen and (min-width: 1024px) {
  body header {
    height: 350px;
  }
  body header .head svg {
    width: 15%;
    margin: 0 0 0 2%;
  }
  body header .head .dark-mode-toggle svg {
    width: 50px;
    height: 50px;
  }
  body header h1 {
    margin-top: 2%;
    font-size: 50px;
  }
  body main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
  }
  body main .filter svg {
    width: 25%;
  }
  body main div.carte {
    width: 30%;
    margin: 5% 0;
  }
  body main div.carte:hover {
    scale: 1.1;
    transition: 0.5s;
  }
}/*# sourceMappingURL=style.css.map */